<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.palmshe.shiro.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.palmshe.shiro.entity.User" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="locked" property="locked" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, salt, locked
  </sql>
  <insert id="addUser"  useGeneratedKeys="true" parameterType="com.palmshe.shiro.entity.User">
  	<selectKey keyProperty="id" order="AFTER" resultType="long">
  		SELECT LAST_INSERT_ID()
  	</selectKey>
  	insert into sys_users (id, username, password, salt, locked)
  	values (#{id}, #{username}, #{password}, #{salt}, #{locked})
  </insert>
  
  <select id="getRoleByUsername" resultType="java.lang.String" parameterType="java.lang.String">
  	select r.role from sys_users u LEFT JOIN sys_users_roles ur on u.id= ur.user_id LEFT JOIN sys_roles r on ur.role_id= r.id
  	where u.username= #{username} 
  </select>
  
  <select id="getPermissionByUsername" resultType="java.lang.String" parameterType="java.lang.String">
  	select p.permission from sys_users u LEFT JOIN sys_users_roles ur on u.id= ur.user_id LEFT JOIN sys_roles r on ur.role_id= r.id
	LEFT JOIN sys_roles_permissions rp on r.id= rp.role_id LEFT JOIN sys_permissions p on rp.permission_id= p.id
	where u.username= #{username}
  </select>
  
  <select id="getUserByName" resultMap="BaseResultMap" parameterType="java.lang.String">
  	select <include refid="Base_Column_List"/>
  	from sys_users where sys_users.username= #{username}
  </select>
</mapper>